body {
  font-family: sans-serif;
}

h1{
  color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-size: 4rem;
}

form{
  display: flex;
  flex-direction: column;
}

table{
  display: flex;
  flex-direction: column;
}

label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  margin-left: 6%;
}

input{
  font-size: 1rem;
  width: 60px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #999;
  margin-bottom: 0.5rem;
}

button{
  background-color: rgb(83, 141, 56);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;
  margin-left: 6%;
  border: 1px solid rgb(39, 105, 8);
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
  background-color: rgb(39, 105, 8)
}

button:active {
  background-color: rgb(39, 105, 8);
  transform: translateY(4px);
}

b{
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-left: 6%;
}

table{
  border: 1px solid black;
  width: 63%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 18%;
}

th, td {
  height: 5px;
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 365px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#measurementChart{
  margin-left: 20%;
}

@media only screen and (max-width: 680px), only screen and (max-device-width: 480px) {
  body {
    font-family: sans-serif;
  }
  
  h1{
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }
  
  table{
    display: flex;
    flex-direction: column;
  }
  
  label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5rem;
    margin-left: 6%;
  }
  
  input{
    font-size: 1rem;
    width: 30px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-bottom: 0.5rem;
  }
  
  button{
    background-color: rgb(83, 141, 56);
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin-bottom: 1rem;
    margin-left: 6%;
    border: 1px solid rgb(39, 105, 8);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  button:hover{
    background-color: rgb(39, 105, 8)
  }
  
  button:active {
    background-color: rgb(39, 105, 8);
    transform: translateY(4px);
  }
  
  b{
    font-family: sans-serif;
    font-size: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 6%;
  }
  
  table{
    border: 1px solid black;
    width: 63%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 18%;
  }
  
  th, td {
    height: 5px;
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 365px;
    font-weight: 1rem;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #measurementChart{
    margin-left: 20%;
    position: relative; 
    height: 15vh; 
    width: 35vw;
  }
}