body {
  background-color: white;
  width:100%;  
  margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*.box {
  display: flex;
	justify-content: left;
	align-items: flex-start;
} */

/*.box2 {
  display: flex;
	justify-content: left;
	align-items: flex-start;
} */

/*.chart, .dataList {
  padding: 10px;
  background-color: white;
  margin: 10px;
}*/

/*.temp, .humid {
  padding: 10px;
  background-color: white;
  margin: 10px;
}*/

.barChart {
  height: 250px;
  width: 650px;
  position: center;
  margin-left: 50px;
  margin-top: 0;
}

.lineChart {
  height: 250px;
  width: 650px;
  position: center;
  margin-left: 50px;
  margin-top: 150px;
}

/*.temp {
  width:500px;

}

.humid {
  width:500px;
}*/

h1 {
  color: black;
  position: center;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

label {
  color: white;
}

.topnav {
  background-color:rgb(138, 173, 218);
  overflow: hidden;
}
  
  h3 {
    color: black;
    overflow: hidden;
  }
  
  /*Bredde og længde af Williams skærm iphone6s*/
  .page {
    position:absolute;
    width:700px;
    height: 900px;
  }
  
  .page#frontpage {
    position: relative;
    margin: 0;
    top:0px;
    left:0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  /*css til menuen*/
  .page#settings { 
      margin: 0;
      top:0px;
      left:-750px;
      background-color:rgb(138, 173, 218);
      text-align: center;
      text-transform: uppercase;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      transition:left 0.2s linear;
      font-size: 25;
      color: white;
      line-height: 5;
      position:absolute;
      width:750px;
      height: 1100px;
  }
  
  /*hastigheden på hvor hurtigt menuen kommer frem*/
  .page#settings.move {
      left:0px;
      transition:left 0.2s linear;
  }
  
  /*Ikonet for menu*/
  #icon{
     position: absolute;
     top:15px;
     left:650px;
     width: 100px;
     height: 100px;
     user-select:none;
     cursor: pointer;
     z-index:2;
     padding: 10px 20px;
  }
  
  #icon .line{
      width: 40px;
      height: 6px;
      background-color: white;
      margin:7px;
      border-radius: 4px;
  }
  
  #frontpage #opskrifter {
      padding-top:25px;   
      text-align: center; 
      width: 750px;
  }
  
  #frontpage #opskrifter h1{
      margin:0;
  }
  
  #frontpage #opskrifter .opskrift {
      margin: 10 auto;
      text-align: left;
      width: 600px;
      height: 200px;
      border:1px solid black;
      background-color: white;
      user-select:none;
      cursor: pointer;
  }
  
  #frontpage #opskrifter .opskrift h1 {
      text-align: center;
      font-size:2em;
  }
  
  .page.details .back {
      width: 100px;
      height: 100px;
      color:white;
      text-align: center;
      font-size:4em;
      user-select:none;
      cursor: pointer;
  }
  
  .page.details.move {
      left:0px;
      transition:left 1s linear;
  }
  
  .topnav {
    background-color:rgb(138, 173, 218);
    overflow: hidden;
  }
  
  /*chart + goal setting i menubar*/
  .topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 20px;
  }
  
  /*hover for chart*/
  .topnav a:hover {
    background-color:rgb(190, 208, 231);
    color:white;
  }
  
  .topnav-right {
      overflow: hidden;
      background-color:rgb(138, 173, 218);
    }
    
    /*goal setting i menu*/
    .topnav-right a{
      float: left;
      color: white;
      text-align: center;
      padding: 30px;
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      padding-right: 1200px;
    }
    
    /*hover for goal setting*/
    .topnav-right a:hover {
      background-color: rgb(190, 208, 231);
      color: white;
      font-size: 20px;
    }